@font-face {
    font-family: 'babyblue';
    src: url('../assets/fonts/babyblue.woff2') format('woff2'),
        url('../assets/fonts/babyblue.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
  background-color: $body-bg;
  font-family: 'babyblue', monospace;
}

.card {
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

#pricing {
  div {
    h2 {
      font-weight: bold;
    }

    ul {
      padding-left: 0;

      li {
        list-style-type: none;
      }
    }
  }
}

nav {
  margin-top: 1%;
  text-align: center;

  ul {
    list-style: none;
    font-size: 2em;

    li {
      display: inline;
      margin-right: 25px;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          color: #fab988;
          transition: color 0.3s ease;
          text-decoration: none;
        }
      }
    }
  }

  a {
    color: #000;

    h1 {
      font-size: 5em;
      font-weight: lighter;
      margin-bottom: 1%
    }

    &:hover {
      color: #fab988;
      transition: color 0.3s ease;
      text-decoration: none;
    }
  }
}

.social {
  margin-top: 3%;
  text-align: center;
  letter-spacing: 2px;

  a {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;

    span {
      padding-right: 5px;
    }

    &:hover {
      color: #fab988;
      transition: color 0.3s ease;
    }
  }
}

.fa-heart {
  color: #ff6961;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

footer {
  margin-bottom: 20px;
}
