@font-face {
    font-family: 'babyblue';
    src: url('../assets/fonts/babyblue.woff2') format('woff2'),
        url('../assets/fonts/babyblue.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
  background-color: $body-bg;
  font-family: 'babyblue', monospace;
}

.card {
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

ul {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

#pricing div h2 {
  font-weight: bold;
}

nav {
  margin-top: 1%;
  text-align: center;

  ul {
    list-style: none;
    font-size: 2em;

    .active {
      a {
        color: #fab988;

        &:hover {
          color: #000;
        }
      }
    }

    li {
      display: inline;
      margin-right: 25px;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          color: #fab988;
          transition: color 0.3s ease;
          text-decoration: none;
        }
      }
    }
  }

  a {
    color: #000;

    h1 {
      font-size: 5em;
      font-weight: lighter;
      margin-bottom: 1%
    }

    &:hover {
      color: #fab988;
      transition: color 0.3s ease;
      text-decoration: none;
    }
  }
}

.social {
  margin-top: 3%;
  text-align: center;
  letter-spacing: 2px;

  a {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;

    span {
      padding-right: 5px;
    }

    &:hover {
      color: #fab988;
      transition: color 0.3s ease;
    }
  }
}

.fa-heart {
  color: #ff6961;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}

footer {
  margin-bottom: 20px;
}

/* Discord */

#discordBtn {
  background-color: #7289da;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;

  .fab {
    font-size: 35px;
  }

  &:hover {
    background-color: #fab988;
    transition: background-color 0.3s ease;
  }
}

/* Masonry */
.grid-item {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}

/* Misc */

.grecaptcha-badge {
  margin-bottom: 20px;
}
